<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	 <settings>  
    	<!-- 配置数据库字段映射成实体字段规则, 数据字段是带下划线而实体是驼峰方式,配置此属性可转成驼峰方式 ,-->
        <setting name="mapUnderscoreToCamelCase" value="true" />  
        <!--  返回map类型字段值为空时也返回字段 -->
        <setting name="callSettersOnNulls" value="true"/>
    </settings>  
   
	<!-- 实体类,简称 -设置别名 -->
	<typeAliases>
		<typeAlias alias="User" type="com.tgb.model.User" />
		<typeAlias alias="Trade" type="com.tgb.model.Trade"/>
	</typeAliases>
	<!-- 实体接口映射资源 -->
	<!-- 说明：如果xxMapper.xml配置文件放在和xxMapper.java统一目录下，mappers也可以省略，因为org.mybatis.spring.mapper.MapperFactoryBean默认会去查找与xxMapper.java相同目录和名称的xxMapper.xml -->
	<mappers>
		<mapper resource="com/tgb/mapper/userMapper.xml" />
	</mappers>

</configuration>  