<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.tgb.mapper.TradeMapper">

	<select id="findAll" resultType="Trade" parameterType="java.util.HashMap">
		select * from trans where 1=1 
		<if test="startDate != null and startDate != ''"> and trans_date > #{startDate}</if>
		<if test="endDate != null and endDate != ''">and trans_date &lt; #{endDate}</if>
		limit 62230;
	</select>
	
	<select id="findByLimit" resultType="Trade" parameterType="java.util.HashMap">
		select * from trans where 1=1 
		<if test="startDate != null and startDate != ''"> and trans_date > #{startDate}</if>
		<if test="endDate != null and endDate != ''">and trans_date &lt; #{endDate}</if>
		limit #{from},#{all};
	</select>
	<select id="selectCount" resultType="int" parameterType="java.util.HashMap">
			select count(1) from trans where 1=1 
		<if test="startDate != null and startDate != ''"> and trans_date > #{startDate}</if>
		<if test="endDate != null and endDate != ''">and trans_date &lt; #{endDate}</if>
		
	</select>
</mapper>